.downloadFeaturesSection {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImgLogo {
  height: 150px !important;
  width: 150px !important;
  margin-bottom: 30px;
  margin-top: 20px;
}

.aihelixfeatureImgLogo {
  filter: drop-shadow(0 0 7px darkgray);
  height: 150px !important;
  width: 150px !important;
  margin-bottom: 30px;
  margin-top: 20px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.downloadIcon {
  font-size: 45px !important;
  margin-right: 10px;
}

.colDownload {
  --ifm-col-width: 100%;
  flex: 1 0;
  margin-left: 0;
  max-width: var(--ifm-col-width);
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downloadBtn {
  padding-bottom: 90px;
}

@media screen and (max-width: 600px) {
  .downloadBtn {
    width: 340px !important;
    padding-bottom: 90px;
  }
}

.downloadBtnError {
  background-color: rgb(255, 214, 220);
  border: 1px solid crimson;
  border-radius: 5px;
  color: rgb(124, 5, 29);
  padding: 1em;
  margin: 1em;
}
